@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background: linear-gradient(to right, #ff0000, #0004ff);  
}
header{
  background: linear-gradient(to right, #fffb00, #00fcfcbe);        
}